<div class="graph" >
  <mat-card >
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="onNoClick()">
          <mat-icon>clear</mat-icon>
      </button>
      <mat-card-header>
          <mat-card-title>Batch Details</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content graph-content">
          <canvas baseChart
              width="600"
              height="500"
              [datasets]="barChartData"
              [labels]="barChartLabels"
                          [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
          </canvas>
      </mat-card-content>
  </mat-card>
</div>