.container{
    padding: 10px;
    margin: auto auto;
}
.main{
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
}
textarea{
    width: 90%;
    min-height: 80vh;
    height: auto;
    font-size: 15px;
}
.clipboard{
    float: right;
}
.close{
    float: right;
 }