.container{
   margin: auto auto;
   width: 90%;
   overflow: auto;
   //height: 500px;
   height: 600px;
   margin-bottom: 30px;

}
table{
   width: 100%;
}
.spacer{
   flex: 1 1 auto;
}
.mat-form-field {
   font-size: 14px;
   width: 100%;
}
.box{
   margin: auto auto;
   margin-top: 20px;
   width: 90%;
   padding: 10px;
}
a{
   float: right;
}
button {
  float: right;
}