<app-spinner *ngIf="isFetching"></app-spinner>
<div class="main">
    <div class="close">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="onNoClick()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="header">
        <h5> Clien Id: <span style="color:firebrick"> {{ batchDetails.clientId }} </span></h5>
        <h5> Batch Id: <span style="color:firebrick"> {{ batchDetails.batchId }}  </span></h5>
        <h5> Session Id: <span style="color:firebrick"> {{ batchDetails.sessionId }} </span></h5>
        <h5 class="rdd" *ngIf="!isFetching"> Number of RDD partitions {{ data.length }} </h5>
    </div>
    <h4 class="heading">Resume Partitions </h4>

    <div class="container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
    
            <!-- ID Column -->
            <!-- <mat-spinner *ngIf="dataSource === []"></mat-spinner> -->
            <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px; color: black"> Total Size Of RDD</th>
                <td mat-cell *matCellDef="let element"  > {{ element.totalSizeOfRDD }} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="RDD">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px; color: black"> Each Map Size Of RDD </th>
                <td mat-cell *matCellDef="let element"> {{ element.eachMapSizeOfRDD }} </td>
            </ng-container>
    
            <!-- CREATED AT Column -->
            <ng-container matColumnDef="Machine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px; color: black"> Machine Name </th>
                <td mat-cell *matCellDef="let element" > {{element.machineName}} </td>
            </ng-container>
    
            <!-- STATUS Column -->
            <ng-container matColumnDef="IP">
                <th mat-header-cell *matHeaderCellDef style="font-size: 15px; color: black"> Machine IP </th>
                <td mat-cell *matCellDef="let element" > {{element.machineIP}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
         </table>

    </div>




    <!-- <div class="content">

        <table>
            <tr>
                <th> Total Size Of RDD </th>
                <th> Each Map Size Of RDD </th>
                <th> Machine Name </th>
                <th> Machine IP </th>
            </tr>
            <tr *ngFor="let item of data">
                <td>{{ item.totalSizeOfRDD }}</td>
                <td>{{ item.eachMapSizeOfRDD }}</td>
                <td>{{ item.machineName }}</td>
                <td>{{ item.machineIP }}</td>
            </tr>
        </table>
    </div> -->
</div>