/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin : 0;
    padding : 0;
    font-family: Roboto, sans-serif;
}
#loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid skyblue;
    width: 100px;
    height: 100px;
    margin:50% auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}